body {
  background: url("../images/clear.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contain {
  width: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(red));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), red);
  color: white;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 20px;
}

.search-box {
  border-radius: 15px 0 15px 0;
}

.city {
  font-size: 2rem;
  font-weight: 900;
}

.units {
  background-color: white;
  color: black;
  cursor: pointer;
}
